{% extends 'django_app/base.html' %}
{% load static %}
{% block content %}

<div class="card">
  <div class="card-body">
    
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
         Seu usuário ou senha não conferem. Tente denovo.
        </div>
    {% endif %}

    <form method="post" action="{% url 'users:login' %}"> 
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit" class="btn btn-primary">Autenticar</button>
        <input type="hidden" name="next" value="{% url 'django_app:posts' %}" />
    </form>

  </div>
</div>

{% endblock content %}