{% extends 'django_app/base.html' %}
{% load static %}

{% block content %} 

  <h1>Bem-vindo ao meu Blog</h1>

    <div class='logo'>
       <img src="{% static 'django_app/logo.jpg' %}" alt="Blog de Omar" />
    </div>

    <p> Selecione a opção no menu superior.</p>

<h2 style="font-style:italic; text-align:left">Projeto de Blog desenvolvido com Python e Django</h2>

<p style="text-align:left">Blog simples, feito apenas com o conhecimento adquirido, durante as nossas aulas no curso de GTI, 2&ordm; per&iacute;odo, entregue como &uacute;ltima atividade do P2 de GTI da FACET 2020.</p>

<p style="text-align:left">Posteriormente durante as f&eacute;rias, pretendo estudar um pouco mais de Python e Django, para conseguir uma apar&ecirc;ncia mais organizada, e &ldquo;bonita&rdquo; pare este projeto.</p>

<p style="text-align:left">Pretendo atualiza-lo depois.</p>

<p style="text-align:left"><em><strong>Obrigado a <a href="https://www.faculdadedetimbauba.edu.br/" target="_blank">FACET</a>, e ao professor <a href="http://www.instagram.com/mrafaelbatista/" target="_blank">Messias R. Batista</a>.</strong></em></p>

<p style="text-align:left"><em>Tivemos um ano dif&iacute;cil em 2020, devido &agrave; pandemia,&nbsp;</em><em>se Deus Quiser 2021 ser&aacute; um ano melhor para todos n&oacute;s.</em></p>

<p style="text-align:center"><span style="font-size:26px"><em><strong>Boas Festas e Feliz Ano Novo!</strong></em></span></p>

<p style="text-align:center"><span style="font-size:22px"><em><strong>Um 2021 com Felicidade e Principalmente Sa&uacute;de Para Todos!</strong></em></span></p>

<p style="text-align:left"><span style="font-size:14px"><em><strong>Omar Cantidiano da Cunha Lopes</strong></em></span></p>

<p style="text-align:left"><a href="https://www.instagram.com/omarcclopes/" target="_blank"><span style="font-size:14px"><em><strong>@OmarCCLopes</strong></em></span></a></p>

{% endblock content %}