{% extends 'django_app/base.html' %}
{% load static %}

{% block content %} 

    <h1>Posts do Blog <a href="{% url 'django_app:novo_post' %}"><button type="button" class="btn btn-info">Novo</button></a></h1>

    <table class="table">
      <thead class="thead-dark">
        <th scoope="col">ID</th>
        <th scoope="col">Título</th>
        <th scoope="col">Proprietário</th>
        <th scoope="col">Ações</th>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <th>{{ post.id}}</th>
          <td>{{ post.titulo }}</td>
          <td>{{ post.owner }}</td>
          <td><a href="{% url 'django_app:edit_post' post.id %}"><button type="button" class="btn btn-info">Editar</button></a> </td>
        </tr>
        {% empty %}
          <tr>
          <th> - </th>
          <td>Não há posts</td>
          <th> - </th>
          <th> - </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock content %}


